<h1 class="titles">Process data from MongoDb</h1>
{{!-- in this section the user is inserting new data as the name and the points, so it's going to visualize that --}}
<section class="insert">
    <p>Insert a new student</p>
    <form action="/insert" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"> <br><br>
            <label for="points">Points</label>
            <input type="number" id="points" name="points"> <br><br>
        <button type="submit" class="inserting">Insert</button>
    </form>
</section>
{{!-- in this section the user is updating it through thr id that it is from mongo as the name and the points, so it's going to visualize that --}}
<section class="update">
    <p>Update student's data</p>
    <form action="/update" method="post">
        <label for="id" id="upd">ID</label>
         <input type="text" id="id"  name="id"> <br> <br>
        <label for="name">Name</label>
         <input type="text" id="name" name="name"> <br> <br>
        <label for="points">Points</label>
         <input type="number" id="points" name="points"> <br> <br>
        <button type="submit" class="updating">Update</button>
    </form>
</section>
{{!-- in this section the user is typing the id of the student, so it's going to visualize that --}}
<section class = "findings">
    <p>Find a student by Id</p>
    <form action="/find-one" method="post" class="find">
         <input type="text" id="id" name="id">
         <button class="finding">Find</button>
    </form>
</section>

<section class="delete">
    <p>Delete a student by Id</p>
    <form action="/delete" method="post" class="del">
        <input type="text" id="id" name="id">
        <button type="submit" class="deleting">Delete</button>
    </form>
      
</section>
{{!-- in this section I am ascending the list --}}
<section class = "ascendings">
    <form action="/ascending" method="post">
        <button class="ascending">Ascending</button>
    </form>
</section>

{{!-- in this section I am descending the list --}}
<section class = "descendings">
    <form action="/descending" method="post">
        <button class="descending">Descending</button>
    </form>
</section>
<section class="get">
    <button class="getting"><a href="/get-data">RE-LOAD DATA</a></button>
    <div>
        {{# each student }}
            <article class="student">
                <div>Name: {{ this.name }}</div>
                <div>Points: {{ this.points }}</div>
                 <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
